.AnalyzeArticleRequestForm {
  display: block;
  min-width: 300px;
  box-sizing: border-box;
}

.AnalyzeArticleRequestForm__try-it {
  margin-top: 8px;
}

.AnalyzeArticleRequestForm_url {
  font-size: 75px;
  padding: 6px;
  min-width: 250px;
  width: 100%;
}

.AnalyzeArticleRequestForm_submit {
  width: 100%;
  margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
  .AnalyzeArticleRequestForm_url {
    font-size: initial;
    padding: 6px;
    font-size: 36px;
    width: 100%;
  }
}
