.article_analysis_card--container {
  border-radius: 4px;
  box-shadow: 0 0 4px 1px lightslategray;
  padding: 10px;
  max-width: 500px;
}

.article_analysis_card__header {
  display: inline-block;
  margin: 0;
}

.article_analysis_card__claim {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article_analysis_card--first-glance {
  display: flex;
  align-items: center;
  padding: 8px;
}

.article_analysis_card__table th {
  text-align: left;
}

.article_analysis_card__analyzed_url_label {
  display: inline;
  font-style: italic;
  padding: 0 6px 0 0;
}
.article_analysis_card__analyzed_url {
  background-image: none;
  padding: 6px 0;
}

.truncate-oneliner {
  display: block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}
