.layout--container {
  margin: auto;
}

.layout--body {
  margin: auto;
}

.app__form {
  margin: 80px auto 0;
}

.analysis-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto 100px;
}

@media only screen and (max-width: 800px) {
  .layout--body {
    width: 90%;
  }
  .app__form {
    margin: 20px auto 0;
  }
}
@media only screen and (min-width: 800px) {
  .layout--body {
    width: 60vw;
  }
}
